.song-list-container {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90%;
    overflow-y: auto;
    
    .playlist-cover{
        .playlist-cover-img{
            width: 500px;
            height: 500px;
            aspect-ratio: 1 / 1;
            flex-shrink: 0;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
            margin: 20px;
        }
        .icon-cover {
            width: 500px;
            height: 500px;
            aspect-ratio: 1 / 1;
            flex-shrink: 0;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
            margin: 20px;
            border: 1px solid var(--border-color);    
            
        }
        
        .playlist-actions{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-around;

            button{
                width: 50px;
                height: 50px;
                color: var(--text-primary);
                background: none;
                background-color: var(--accent);
                border: none;
                border-radius: 50%;
                padding: 10px;

                &:hover{
                    cursor: pointer;
                    background-color: var(--accent-hover);
                }
                &:disabled{
                    background-color: var(--accent-muted);
                    cursor: default;
                }
            }
        }
    }
}
    .song-list {
        width: 100%;
        margin: 0;

        .song-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 20px 20px;   

            .song-cover{
                display: flex;
                align-items: center;
                .cover-image{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                    
                }
                .song-info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    min-width: 0; // MUY IMPORTANTE en flex
                    align-items: baseline;
                    .song-name,
                    .song-artist {
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .song-name {
                        font-weight: bold;
                    }

                    .song-artist {
                        font-size: 12px;
                    }
            
                }
                
            }

       
        }
    }
