.playlist-link{
    color: var(--text-primary);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    .playlist-item {

        .playlist-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .playlist-cover {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }

        .playlist-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            text-align: center;
        }



    }
}
