:root {

  // ==========
  // BACKGROUNDS
  // ==========
  --bg-primary: #090b09;
  --bg-secondary: #171b17;
  --bg-tertiary: #222722;
  --bg-hover: #2b332b;

  // ==========
  // PLAYER
  // ==========
  --player-bg: #111311;
  --sidebar-bg: #141714;
  --card-bg: #1b201b;
  --card-hover-bg: #262d26;

  // ==========
  // TEXT
  // ==========
  --text-primary: #ffffff;
  --text-secondary: #bdbdbd;
  --text-muted: #7a7a7a;
  --text-inverted: #000000;

  // ==========
  // ACCENT
  // ==========
  --accent: #14B814;
  --accent-hover: #2AC62A;
  --accent-active: #109910;
  --accent-muted: rgba(20,184,20,.18);

  // Tonos del verde
  --accent-light: #4ED44E;
  --accent-dark: #298529;
  --accent-darker: #2A522A;

  // ==========
  // BORDERS
  // ==========
  --border-color: #2D332D;
  --border-hover: #3A433A;

  // ==========
  // SHADOWS
  // ==========
  --shadow-sm: 0 2px 8px rgba(0,0,0,.25);
  --shadow-md: 0 4px 16px rgba(0,0,0,.40);

  // ==========
  // RADIUS
  // ==========
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  // ==========
  // TRANSITIONS
  // ==========
  --transition-fast: .15s ease;
  --transition-normal: .25s ease;

  // ==========
  // STATUS
  // ==========
  --cancel-color: #D85A5A;
  --check-color: #38C976;

// =========
// WARNINGS
// =========

--status-success: #4ADE80; // Éxito, completado
--status-info: #60A5FA;    // Información neutra

--warning-caution: #FFB84D; // Aviso, cuidado
--warning-danger: #FF5B5B;  // Error, peligro
// =========
// ROADMAP
// =========

--roadmap: #5B7CFF;
--roadmap-light: #8CA3FF;
--roadmap-muted: rgba(91, 124, 255, 0.459);
--roadmap-dark: #364EA8;

// =========
// ROADMAP STATUS
// =========

--status-current: #3dad2e; // En desarrollo / Actual
--status-next: #f5a623; // Próximo
--status-planned: #4086d1; // Planeado
--status-completed: #2fa361; // Completado
--status-research: #a87a35; // Investigación
--status-warning: #ce5a5a; // Problemas / bloqueado
--status-future: #7f6abd; // Futuro / ideas

}