:root {

  // ==========
  // BACKGROUNDS
  // ==========
  --bg-primary: #070707;
  --bg-secondary: #181818;
  --bg-tertiary: #242424;
  --bg-hover: #424242; 

  // ==========
  // PLAYER
  // ==========
  --player-bg: #101010;
  --sidebar-bg: #151515;
  --card-bg: #1d1d1d;
  --card-hover-bg: #2a2a2a;

  // ==========
  // TEXT
  // ==========
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --text-muted: #7d7d7d;
  --text-inverted: #000000;

  // ==========
  // ACCENT
  // ==========
  --accent: #27b459;
  --accent-hover: #30e971;
  --accent-active: #1aa34a;
  --accent-muted: #19613280;

  // ==========
  // BORDERS
  // ==========
  --border-color: #2b2b2b;
  --border-hover: #222222;
  // ==========
  // SHADOWS
  // ==========
  --shadow-sm:
    0 2px 8px rgba(0,0,0,.2);

  --shadow-md:
    0 4px 16px rgba(0,0,0,.35);

  // ==========
  // RADIUS
  // ==========
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  // ==========
  // TRANSITIONS
  // ==========
  --transition-fast: .15s ease;
  --transition-normal: .25s ease;

}