.app-container {

    background-color: var(--bg-primary);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .top-section {

        flex: 1;
        display: flex;
        overflow: hidden;

        .sidebar {
            width: 15%;
            max-width: 200px;
            min-width: 100px;
            flex-shrink: 0;
            background-color: var(--sidebar-bg);
            padding: 20px;
        }

        .main {
            flex: 1;
            overflow-y: auto;
            min-height: 0;
            padding: 20px;
            
        }
    }

}